@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
input,textarea{
  outline: none;
}
body{
  background-color: #F0F1F6;
  font-family: "Roboto";
}
.navlink:after {
  display:block;
  content: '';
  border-bottom: solid 2px #7E51FF;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.navlink:hover:after { transform: scaleX(1); }
#navbar,button{
  transition: 0.5s background ease-in-out;
}

.border {
  display: block;
  position: relative;
  height: 3px;
  width: 100%;
  background: #7E51FF;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin:  50% 50%;
}

input:focus + .border, .expand:focus .border {
  transform: scaleX(1);
}
textarea:focus + .border, .expand:focus .border {
  transform: scaleX(1);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
